<section id="competencies" class="services">
    <div class="container">
        <div class="section-title">
            <h2>Specialties</h2>
        </div>
        <div class="row" data-aos="fade-left">
            {{ range where .Site.RegularPages "Section" "competencies" }}
            <div class="col-lg-6 col-md-6 competencies">
                <div class="icon"><i style="font-size:3em" class="bx {{ .Params.icon }}"></i></div>
                <h4 class="title">{{ .Params.description }}</h4>
                <h6 class="description">{{ .Content }}</h6>
            </div>
            {{ end }}
        </div>
    </div>
</section>